<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.uchain.project.mapper.AllocationInfoMapper">


    <resultMap id="Allocation" type="group.uchain.project.vo.AllocationInfo2">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="category" property="category"/>
        <result column="leader" property="leader"/>
        <result column="instruction" property="instruction"/>
        <result column="level" property="level"/>
        <result column="grade" property="grade"/>
        <result column="number" property="number"/>
        <result column="variety" property="variety"/>
        <result column="score" property="score"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="proportion" property="proportion"/>
    </resultMap>

    <insert id="uploadAllocationInfo" parameterType="hashmap">
        insert into allocation_info
            (user_id, proportion,project_id)
            values
        <foreach collection="map" index="key" item="value" separator=",">
            (
                #{key},
                #{value},
                #{projectId}
            )
        </foreach>
    </insert>
    <insert id="uploadAllocationInfoToTempTable" parameterType="hashmap">
        insert into allocation_info_temp
        (user_id, proportion,project_id)
        values
        <foreach collection="map" index="key" item="value" separator=",">
            (
            #{key},
            #{value},
            #{projectId}
            )
        </foreach>
    </insert>
    <!--不存在则插入,存在则忽略-->
    <insert id="uploadOverdueProjectAllocationInfo" parameterType="list">
        insert ignore into allocation_info(user_id, proportion,project_id)
            values
        <foreach collection="list" separator="," index="" item="overdueProjectInfo">
            (
                #{overdueProjectInfo.userId,jdbcType=INTEGER},
                <!--默认百分之百-->
                100,
                #{overdueProjectInfo.projectId,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <update id="updateAllocationTime">
        update project_info
            <set>
                <if test="param1 != null" >`date` = #{param1}</if>
            </set>
        where `id` = #{param2}
    </update>
    <delete id="deleteAllocationTempInfoByProjectId">
        delete from allocation_info_temp
        where project_id = #{projectId}
    </delete>
    <delete id="setAllocationInfoStatusInvalidByProjectId">
        update allocation_info
        set status = 0
        where project_id = #{projectId}
    </delete>

    <select id="getUserAllocationInfo" resultType="group.uchain.project.vo.AllocationInfo">
        select a.project_id as projectId,
               <!--百分比计算-->
               p.score*a.proportion/100 as userScore,
               p.category,
               p.leader,
               p.instruction
        from allocation_info a
            inner join project_info p
        on a.project_id=p.id
        where a.user_id = #{userId} and a.status = 1
    </select>

    <select id="getAllAllocationInfo" resultMap="Allocation" resultType="group.uchain.project.vo.AllocationInfo2">
        select p.id,
               p.category,
               p.leader,
               p.instruction,
               p.level,
               p.grade,
               p.number,
               p.variety,
               p.score,
               u.username as username,
               a.proportion as proportion
          from project_info p,allocation_info a
          inner join user u
          on a.user_id = u.user_id and a.status = 1
        <!--p.date &lt;= #{end}(小于截止时间)  p.date  &gt;= #{start}(大于开始时间)-->
        where p.id = a.project_id and p.date &lt;= #{end} and p.date  &gt;= #{start}
        order by p.id
    </select>
    <select id="getAllocationTempInfoByProjectId" resultType="group.uchain.project.DTO.AllocationTempInfo">
        select project_id as projectId,
               user_id as userId,
               proportion
        from allocation_info_temp
        where project_id = #{projectId} and status = 1;
    </select>

</mapper>