<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.uchain.project.mapper.ApplyInfoMapper">

    <insert id="addOne">
        insert apply_info (project_id,user_id,apply_type) values (#{projectId},#{applyUser},#{applyType})
    </insert>
    <update id="updateApplyInfoStatus">
        update apply_info
        set approval_status = #{approvalStatus}
        where project_id = #{projectId}
    </update>
    <delete id="setApplyValidStatusByProjectId">
        update apply_info set valid_status = #{validStatus}
        <where>
            <if test="projectId!=null">
                `project_id` = #{projectId}
            </if>
        </where>
    </delete>
    <select id="getApplyFormByProjectId" resultType="group.uchain.project.form.ApplyForm">
        select apply_type as applyType,
               user_id applyUser,
               project_id projectId
        from apply_info
        where project_id = #{projectId} limit 1;
    </select>
    <select id="getAllApplyInfoNotApproval" resultType="group.uchain.project.VO.ApplyInfo">
        select apply_type as applyType,
               u.username applyUser,
               project_id projectId
        from apply_info a inner join user u on a.user_id = u.user_id
        where approval_status = 0 ;
    </select>
    <select id="getApplyDetailById" resultType="group.uchain.project.VO.ApplyDetail">
        select
            distinct
                project_id as projectId,
                approval_status as approvalStatus,
                apply_type as  applyType
        from apply_info
        where user_id = #{userId}
        <!--使用默认排序  根据主键进行排序,主键是根据时间生成的,所以相当于根据时间进行排序-->
    </select>
    <select id="getValidApplyCount" resultType="java.lang.Integer">
        select count(id)
            from apply_info
        where
              project_id = #{projectId} and approval_status = 0 and valid_status = 1
        <!--存在则退出,减少查询-->
        limit 1;
    </select>

</mapper>