<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.uchain.project.mapper.ApplyInfoMapper">

    <insert id="addOne">
        insert apply_info (project_id,user_id,apply_type) values (#{projectId},#{applyUser},#{applyType})
    </insert>
    <update id="updateApplyInfoStatus">
        update apply_info
        set approval_status = #{approvalStatus}
        where project_id = #{projectId}
    </update>
    <select id="getApplyFormByProjectId" resultType="group.uchain.project.entity.ApplyForm">
        select apply_type as applyType,
               user_id applyUser,
               project_id projectId
        from apply_info
        where project_id = #{productId};
    </select>
    <select id="getAllApplyInfoNotApproval" resultType="group.uchain.project.vo.ApplyInfo">
        select apply_type as applyType,
               u.username applyUser,
               project_id projectId
        from apply_info a inner join user u on a.user_id = u.user_id
        where approval_status = 0;
    </select>

</mapper>